*{
    margin:0px;
    padding: 0px;
}
header{
    background-color: #333;
}
header nav{
    text-align: center;
}
header nav ul{
    list-style-type: none;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul li a{
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
}
header nav ul li a:hover{
    color: #c7c7c7;
}
main{
    text-align: center;
}
main h1{
    margin: 10px 0;
}
main .search-bar{
    margin-bottom: 10px;
}
main .search-bar input{
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #c7c7c7;
}
main .search-bar button{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #c7c7c7;
    font-weight: 500;
}
main .search-bar button:hover{
    cursor: pointer;
    background-color: #c9c9c9;
}
main .image-container img{
    width: 250px;
    height: 200px;
    border-radius: 10px;
}
main .image-container img:hover{
    scale: 1.1;
}
main .description p{
    width: 500px;
    margin: 0 auto;
    padding: 2px;
}
main .description h3,
main .description h4{
    margin-bottom: 10px;
}
main #learn-more-button{
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #c7c7c7;
    font-weight: 500;
}
#learn-more-button:hover{
    cursor: pointer;
    background-color: #c9c9c9;
}
.section-form{
    width: 400px;
    text-align: center;
	max-width: 50%;
	padding: 20px;
	margin: 0 auto;
}
.section-form .form-title{
    width: 400px;
    margin: 0 auto;
}
.section-form input, textarea{
    width: 100%;
    margin-top: 10px;
    padding: 3px;
}
#send-button{
    padding: 7px;
    border-radius: 10px;
    border: 1px solid #c7c7c7;
    font-weight: 500;
}
#send-button:hover{
    cursor: pointer;
    background-color: #c9c9c9;
}
footer{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #333;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    color: #fff;
}